:root {
  --brand-color: #7cbde3;
  --background-color: #fff;
  --text-color: #000;
  --alternate-color: #c4c4c4;
  --alternate-color--text: #000;
  --alternate-color-darker: #767474;
  --alternate-color-darker--text: #fff;
}

h1,
h2,
h4 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  color: var(--brand-color);
}

h2 {
  font-size: 30px;
  font-weight: 300;
  color: var(--brand-color);
}

h3 {
  font-family: "Amatic SC", cursive;
  font-size: 45px;
  font-weight: 300;
  color: var(--text-color);
  line-height: 1.1;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  color: var(--text-color);
}

h5 {
  font-size: 22px;
  font-style: 400;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

header.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.main-header .logo {
  height: 44px;
  vertical-align: middle;
}

nav.main-navigation {
  background: var(--background-color);
  list-style: none;
  margin-right: 15px;
}

nav.main-navigation a {
  color: var(--text-color);
  font-weight: bold;
  margin-left: 1em;
  text-decoration: none;
}
nav.main-navigation a:hover,
nav.main-navigation a:active {
  background-color: var(--alternate-color);
  text-decoration: underline;
  color: var(--text-color);
  transition: 120ms background-color linear;
}
.home-grid {
}

.background-image2 {
  vertical-align: middle;
  object-fit: contain;
}

.infos a {
  border: solid white;
}


/**
 * STYLES GÉNÉRAUX
 */
main:not(.full-page) {
  margin: 4em auto; /* centre horizontalement le bloc par rapport à son parent */
  max-width: 880px;
}

/**
 * COMPAGNONNAGE / STRUCTURES
 */
.compagnonnage-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 512px;
  padding-right: 20%;
  text-align: right;
}
.compagnonnage-header,
.compagnonnage-header .content {
  position: relative;
}

.compagnonnage-header {
  background-color: var(--alternate-color-darker);
  background-size: cover;
  background-position: center center;
}
.compagnonnage-header :where(h1, h2, h3) {
  color: var(--alternate-color-darker--text);
  margin: 0 0 1rem 0;
  text-shadow: 1px 1px 1px var(--text-color);
}

 .compagnonnage-menu ul {
   background-color: var(--brand-color);
   color: #fff;
   display: flex;
   justify-content: center;
   gap: 1.5em;
   list-style: none;
   margin: 0;
   padding: 2em 0;
   text-align: center;
  }
    .compagnonnage-menu li {
      /* on contraint les éléments de menu à tenir dans 150px, sans s'agrandir */
      flex: 0 1 150px;
    }
    .compagnonnage-next-page a,
    .compagnonnage-menu a {
      color: currentColor;
      display: block;
      text-decoration: none;
    }
    .compagnonnage-next-page a:hover,
    .compagnonnage-next-page a:active,
    .compagnonnage-menu a:hover,
    .compagnonnage-menu a:active {
      text-decoration: underline;
    }
      .compagnonnage-next-page .icon,
      .compagnonnage-menu .icon {
        color: currentColor;
        display: block;
        margin: 0 auto 1em;
        height: 60px;
        width: 60px;
      }

    .compagnonnage-next-page {
      color: var(--brand-color);
      font-weight: 400;
      margin-top: 3em;
      text-align: center;
    }
      .compagnonnage-next-page a {
        margin: 0 auto;
        max-width: 150px;
        position: relative;
      }

      .compagnonnage-next-page a::after {
        content: "›";
        font-size: 10em;
        font-weight: 300;
        position: absolute;
        left: 100%;
        top: -80%; /* simule le centrage vertical */
      }

/**
 * CARTE STRUCTURES
 */
#structures-carte {
  height: 500px;
  width: 100%;
}
.maplibregl-popup-content {
  background-color: var(--brand-color);
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.maplibregl-popup-anchor-top .maplibregl-popup-tip {
  border-bottom-color: var(--brand-color);
}
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  border-top-color: var(--brand-color);
}

.maplibregl-popup-content h3 {
  font-size: 2.5em;
  margin: 0;
}

.maplibregl-popup-content a {
  color: currentColor;
}
.maplibregl-popup-content a:hover,
.maplibregl-popup-content a:focus {
  text-decoration: none;
}

/**
 * Contact
 */

#success:target {
  display: block;
}
#success:target + form[name="contact"]{
  display: none;
}

footer {
  background-color: #D5D5D5;
  color: var(--text-color);
  padding: 1.5em;
  text-align: center;
}

footer a {
  color: #616161;
  margin-right: 5px;
}
footer a:hover,
footer a:active {
  color: var(--alternate-color-darker);
  text-decoration: none;
}

@media (max-width: 740px) {
  section,
  header {
    padding: 20px;
  }
}

/**
* Blocs de la page d'accueil
*/

.bloc-1 {
  background-image: url(../img/groupe.svg);
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 200px;
  background-position: right center;
  display: flex;
  align-items: center;
  flex-direction: column;
}



p.intro{
  color: white;
  text-align: center;
  max-width: 450px;

}


.bloc-1 h2 {
  border-radius: 50% 50%;
  background-color: var(--background-color);
  background-color: #fff8;
  width: 338px;
  height: 338px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-grid .logo {
  max-width: 300px;
}

.bloc-2 {
  background-color: var(--brand-color);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bloc-2 p {
  padding: 40px 0 40px 0;
}

a.cta {
  text-transform: uppercase;
  border: 3px var(--alternate-color-darker--text) solid;
  padding: 10px;
  color: var(--alternate-color-darker--text);
  text-decoration: none;

}

.bloc-3 {
  background-color: #c4c4c4;
  height: auto;
  color: var(--alternate-color-darker--text);
  padding-bottom: 40px;

}

.bloc-3 h2 {
  color: var(--alternate-color-darker--text);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.conteneur {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  align-items: center;
  align-content: space-around;
}

.conteneur > div {
  background-color: gray;

}
.bloc-3 .square1 {
  width: 100px;
  height: 100px;
  background: white;
  color: var(--alternate-color--text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.square1 a {
  color: var(--alternate-color);
  text-decoration: none;
  text-align: center;
  font-weight: 580;

}

div.square1{
  display: flex;
  padding: 10px;
}

.bloc-4 {
  background-color: #767474;
  background-image: url(../img/compaRepas-07\ 1.jpg);
  background-size: cover;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  color: var(--alternate-color-darker--text);
  padding: 40px 0 40px 0;

}

p.repas {
  font-weight: bold;
}

p.parag-2{
  padding: 40px 0 40px 0;
}

.bloc-4 div {
  flex-grow: 0;
  flex-basis: min(400px, 50%);
}

.bloc-4 div.reseau {
  flex-basis: 200px;
  color: var(--alternate-color-darker--text);
}

.acronyme {
  color: var(--alternate-color-darker--text);
  margin: 0;
}

.acronyme strong {
  font-size: 30px;
  color: var(--alternate-color-darker);
  background-color: white;
  padding: 5px;
  display: inline-block; /* comme ça on peut contrôler la largeur de l'élément */
  margin-right: 5px;
  text-align: center;
  width: 0.9em;
}

@media (min-width: 426px) {
  .home-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .home-grid > * {
    width: 100%;
  }

  .bloc-2,
  .bloc-3 {
    width: 50%;
  }
}
