{% if r/\/compagnonnage/.test(page.filePathStem) %}

  <!-- see https://css-tricks.com/apply-a-filter-to-a-background-image/ -->
  <header class="compagnonnage-header" {% if image %} style="background-image: url({{ image | url }})"{% endif %}>
    <div class="content">
      <h1>{{ title }}</h1>
      <h2>{{ subtitle }}</h2>
    </div>
  </header>

  <nav class="compagnonnage-menu">
    <ul>
    {% set currentPage = page %}
    {% for page in collections.compagnonnage %}
      <li><a href="{{ page.url | url }}"{% if page.fileSlug === currentPage.fileSlug %} aria-current="page"{% endif %}>
        <svg class="icon">
          <use xlink:href="{{ '/img/icones.svg' | url }}#{{ page.fileSlug }}"></use>
        </svg>

        <span>{{ page.data.subtitle }}</span>
      </a></li>
    {% endfor %}
    </ul>
  </nav>
{% endif %}
