{% if order %}
{% for page in collections.compagnonnage %}
  {% if page.data.order === (order+1) %}
  <p class="compagnonnage-next-page">
    <a href="{{ page.url | url }}">
      <svg class="icon">
        <use xlink:href="{{ '/img/icones.svg' | url }}#{{ page.fileSlug }}"></use>
      </svg>

      <span>{{ page.data.subtitle }}</span>
    </a>
  </p>
  {% endif %}
{% endfor %}
{% endif %}
