<footer aria-label="Pied de page du site">
  <a href="{{ '/cgu/' | url }}">CGU</a>
  <a href="{{ '/mentions-legales/' | url }}">Mentions légales</a>
  <a href="{{ '/credits/' | url }}">Crédits</a>
  <a href="{{ '/contact/' | url }}">Contact</a>
</footer>
