<header class="main-header" aria-label="Bandeau d'entête">
  <a href="{{ '/' | url }}" rel="home"><img src="{{ '/img/logo-compagnonnage-repas.svg' | url }}" alt="Compagnonnage REPAS" class="logo"></a>

  <nav class="main-navigation" aria-label="Menu de navigation principal">
    <a href="{{ '/compagnonnage/' | url }}"{% if r/^\/compagnonnage\//.test(page.url) %} aria-current="page"{% endif %}>Le Compagnonnage</a>
    <a href="{{ '/le-reseau/' | url }}"{% if r/^\/le-reseau\//.test(page.url) %} aria-current="page"{% endif %}>Le Réseau R.E.P.A.S</a>
    <a href="{{ '/association/' | url }}"{% if r/^\/association\//.test(page.url) %} aria-current="page"{% endif %}>L'association</a>
    <a href="{{ '/contact/' | url }}"{% if r/^\/contact\//.test(page.url) %} aria-current="page"{% endif %}>Nous contacter</a>
  </nav>
</header>
