---
title: Compagnonnage
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/maplibre-gl.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- Why `defer`? https://flaviocopes.com/javascript-async-defer/#with-defer-in-the-head -->
    <script defer src="{{ '/js/maplibre-gl.js' | url }}"></script>
    <script defer src="{{ '/js/structures-carte.js' | url }}"></script>
  </head>

  <body>
    {% include "header.njk" %}
    {% include "compagnonnage-menu.njk" %}

    <main class="{{ mainClass }}" aria-label="Contenu principal">
      {{ content | safe }}

      {% include "compagnonnage-nav.njk" %}
    </main>

    {% include "footer.njk" %}
  </body>
</html>
