---
title: Accueil
mainClass: full-page
---

<div class="home-grid">
  <section class="bloc-1">
    <h2>
      <img class="logo" src="{{ '/img/logo-compagnonnage-repas.svg' | url }}" alt="Le compagnonnage REPAS">
    </h2>

    <p class="intro">
      Le compagnonnage REPAS est un parcours itinérant de 8 mois.
      Il s’adresse à des personnes désireuses de comprendre
      et d’expérimenter les enjeux et conditions d’existence
      de structures expérimentant différentes formes d’autogestion.
    </p>

    <p>
      <a class="cta" href="{{ '/compagnonnage/' | url }}">Plus d'infos</a>
    </p>
  </section>

  <section class="bloc-2">
    Bloc à définir

    <p>
      <a href="#" class="cta">C'est par ici </a>
    </p>
  </section>

  <section class="bloc-3">
    <h2> Documents téléchargeables</h2>
    <div class="conteneur">

      <div class="square1">
        <a href="#">Dossier d'inscription </a>
      </div>

      <div class="square1">
        <a href="#"> Calendrier </a>
      </div>

      <div class="square1">
        <a href="{{ '/pdf/202106_Fiches_Structure.pdf' | url }}" download="Fiches_Structure.pdf"> Structures accueillantes</a>
      </div>


    </div>

    <h2> Espace presse</h2>
    <div class="conteneur">
      <div class="square1">
        <a href="#"> Kit Com' </a>
      </div>
      <div class="square1">
        <a href="#"> Revue Presse </a>
      </div>
      <div class="square1">
        <a href="#"> Livre ? </a>
      </div>
    </div>

  </section>

  <section class="bloc-4">

    <div>
      <p class="repas">
        Mais le R.E.P.A.S. c’est quoi ?
      </p>

      <p class="parag-2"> Le <strong> R.E.P.A.S.</strong> est un réseau informel composé
        d’entreprises coopératives, associations et lieux de vie engagés
        de façon permanente dans la concrétisation d’un projet de société
      </p>
      <p>
        <a href="{{ '/le-reseau/' | url }}" class="cta"> En savoir plus</a>
      </p>
    </div>

    <div class="reseau">
      <p class="acronyme">
        <strong>R</strong>éseau
        d'
      </p>

      <p class="acronyme">
        <strong>E</strong>changes & de
      </p>
      <p class="acronyme">
        <strong>P</strong>ratiques
      </p>
      <p class="acronyme">
        <strong>A</strong>lternatives et
      </p>
      <p class="acronyme">
        <strong>S</strong>olidaires
      </p>
    </div>





  </section>

</div>
